 __pycache__/
 *.pyc
c19/__pycache__/__init__.cpython-38.pyc
c19/representations/__pycache__/__init__.cpython-38.pyc
c19/representations/__pycache__/factorization.cpython-38.pyc
c19/representations/__pycache__/feature_construction.cpython-38.pyc
c19/representations/__pycache__/models.cpython-38.pyc
c19/representations/__pycache__/sent_trans.cpython-38.pyc
c19/representations/__pycache__/statistical.cpython-38.pyc
c19rep.egg-info/dependency_links.txt
c19rep.egg-info/PKG-INFO
c19rep.egg-info/requires.txt
c19rep.egg-info/SOURCES.txt
c19rep.egg-info/top_level.txt
dist/c19rep-0.0.4-py3-none-any.whl
dist/c19rep-0.0.4.tar.gz
build/lib/c19/__init__.py
build/lib/c19/representations/__init__.py
build/lib/c19/representations/factorization.py
build/lib/c19/representations/feature_construction.py
build/lib/c19/representations/sent_trans.py
build/lib/c19/representations/sentence_transformers.py
build/lib/c19/representations/statistical.py